* {
  margin: 0;
  padding: 0;
}
/* Header {
  align-items: center;
} */

/* .nav-1 {
  color: aliceblue;
} */

.navbar-light {
  background-color: rgb(245, 193, 50);
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
}
